---
layout: null
permalink: /
---
{% assign collections = site.pages | where_exp: 'item', 'item.dir == "/collections/"' %}
{% assign manifests = site.pages | where_exp: 'item', 'item.name contains "manifest.json"' | map: 'url' %}
{% assign customviews = site.pages | where_exp: 'item', 'item.dir contains "/customviews/"' %}
{% assign manifestarray = site.data.preload.manifests %}
{% for manifest in manifests %}
{% assign item = manifest | prepend: site.baseurl | prepend: site.url %}
 {% assign manifestarray = manifestarray | push: item %}
{% endfor %}
{"annotations": [{% for file in site.annotations %}{
{{'filename' | jsonify}}:{{site.url | append: site.baseurl | append: file.url| append: file.ext | jsonify}},{{'order' | jsonify}}:{{file.order | jsonify}}, {{'json' | jsonify}}:{{file.content | replace: "<", "&lt;" | replace: ">", "&gt;"}}
}{% unless forloop.last %},{% endunless %}{% endfor %}],
"manifests": {{manifestarray | jsonify}}, "images": {{site.data.preload.images | jsonify}}, 
"customviews": [{% for customview in customviews %}{
{{'filename' | jsonify}}:{{site.url | append: site.baseurl | append: customview.url| jsonify}},{{'json' | jsonify}}:{{customview.content | replace: '<script src="https://ncsu-libraries.github.io/annona/dist/annona.js"></script>', '' | replace: '<link rel="stylesheet" type="text/css" href="https://ncsu-libraries.github.io/annona/dist/annona.css">', '' | replace: "<", "&lt;" | replace: ">", "&gt;" | jsonify}}
}{% unless forloop.last %},{% endunless %}{% endfor %}],
 "collections": [{% for collection in collections %}{
{{'filename' | jsonify}}:{{site.url | append: site.baseurl | append: collection.url| jsonify}},{{'json' | jsonify}}:{{collection.content | replace: "<", "&lt;" | replace: ">", "&gt;"}}
}{% unless forloop.last %},{% endunless %}{% endfor %}]
}
